header{
    text-align: center;
    background-color: slateblue;
    color: aliceblue;
    padding: 2%;
}

h2{
    padding-left: 5%;
    padding-right: 5%
}

footer{
    text-align: center;
    background-color: slateblue;
    color: aliceblue;
    padding: 5%;
}